## Trabalhando com Listas

In [5]:
# Criando uma lista
lista_1= ["arroz, frango, tomate, leite"]
print(type(lista_1))
print(lista_1)

<class 'list'>
['arroz, frango, tomate, leite']

In [21]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]
print(type(lista_2))
print(lista_2)

<class 'list'>
['arroz', 'frango', 'tomate', 'leite']

In [7]:
# Criando Lista
lista_3 = [23, 100, 'Cientista de Dados']
print(type(lista_3))
print(lista_3)

<class 'list'>
[23, 100, 'Cientista de Dados']

In [9]:
# Atribuindo cada valor da lista a uma variável
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [10]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

### Atualizando um item da lista

In [11]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [12]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [13]:
# Atualizando um item da lista
lista_2[2] = 'chocolate'

In [22]:
# Imprimindo lista 2 alterada
lista_2

['arroz', 'frango', 'tomate', 'leite']

### Deletando um item da Lista

In [15]:
# Não é possível deletar um item que não existe na lista.
# Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [23]:
# Deletando um item específico da lista
del lista_2[3]
lista_2

['arroz', 'frango', 'tomate']

### Lista de Listas
listas de listas são matrizes em Python

In [1]:

# Criando uma lista de listas - Lista aninhada
listas = [[1,2,3],[10,15,14],[20,2,8.7,2.3]]
print(listas)

[[1, 2, 3], [10, 15, 14], [20, 2, 8.7, 2.3]]

In [2]:
# Atribuindo um item da lista a uma variável
a= listas[0]
a

[1, 2, 3]

In [3]:
# Atribui o primeiro valor da primeira lista
b = a[0]
b

1

In [4]:
list2 = listas[1]
list2

[10, 15, 14]

In [5]:
# Simplificando
a = listas[0][0]
a

1

In [6]:
c = listas  [1][2]
c

14

### Contatenando Listas

In [7]:
lista_a = [34,32,56]
lista_a

[34, 32, 56]

In [8]:
lista_b = [21, 90, 51]
lista_b

[21, 90, 51]

In [9]:
# Concatenando listas
listas_ab = lista_a + lista_b
listas_ab

[34, 32, 56, 21, 90, 51]

### Operador in

In [10]:
# Criando uma lista e verificando se o valor 10 e 100 pertencem a está lista
lista_teste = [100, 2, -5, 3, 4]
print(10 in lista_teste)
print(100 in lista_teste)

False
True

### Funções Built-in

In [11]:
lista_numeros= [10, 20, 50, -3, 4]

# Função len()  - retorna o comprimento da lista
len(lista_numeros)

5

In [12]:
# Função max() - retorna o valor máximo da lista
max(lista_numeros)

50

In [13]:
# Função min()  - retorna o valor mínimo da lista
min(lista_numeros)

-3

In [14]:
lista_formacoes= ["Analista de dados", "Cientista de dados",  "Engenheiro de dados"]
lista_formacoes

['Analista de dados', 'Cientista de dados', 'Engenheiro de dados']

In [15]:
# Adicionando um novo item ao final da lista
lista_formacoes.append("Engenheiro de IA")
lista_formacoes

['Analista de dados',
 'Cientista de dados',
 'Engenheiro de dados',
 'Engenheiro de IA']

In [16]:
# Posso incluir o mesmo valor usando o método append
lista_formacoes.append("Engenheiro de IA")
lista_formacoes

['Analista de dados',
 'Cientista de dados',
 'Engenheiro de dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [17]:
# Contar quantas vezes aparece um elemento na lista
lista_formacoes.count("Engenheiro de IA")

2

### Copiando itens de uma lista para outra lista

In [24]:
old_list = [1, 2, 5, 10]
new_list = [ ]

In [25]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

print(new_list)

[1, 2, 5, 10]

In [26]:
cidades = ['Recife', 'Manaus', 'Salvador']

# Adicionando dois valores de uma só vez
cidades.extend(['Fortaleza', 'Palmas'])
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [27]:
# Procurar o índice de determinado item dentro de uma lista
cidades.index('Salvador')

2

In [28]:
""" Com a função insert(índice, valor) vamos inserir um valor nó número de 
índice indicado. No caso estamos inserindo no índice 2 da lista cidades o valor 10 
e deslocando o restante da lista    """
cidades.insert(2, 10)
cidades

['Recife', 'Manaus', 10, 'Salvador', 'Fortaleza', 'Palmas']

In [29]:
# Remove um item da lista
cidades.remove(10)
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [30]:
# Inverter a ordem da lista
cidades.reverse()
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [31]:
x = [3, 4, 2, 1]
# Ordena a lista
x.sort()
x

[1, 2, 3, 4]